body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.notCompleted {
    margin-top: 100px;
    color: yellow;
    font-weight: bolder;
    font-size: 70px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(36, 36, 36);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(243, 235, 220);
    border-radius: 6px;
    border: 3px solid rgb(36, 36, 36);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(243, 235, 220) rgb(36, 36, 36);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-bottom: 1px solid rgba(252, 255, 233, 0.2);
}

.nav__img-logo {
    display: inline-block;
    width: 150px;
    height: auto;
    margin-right: 2rem;
}

.nav__link {
    background: none;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
    color: #ffffff;
    transform: scale(1.05);
}

.nav__link--account {
    margin-left: auto;
    margin-right: 1rem;
}

.nav__link:last-child {
    margin-right: initial;
}

a.nav__link {
    padding-top: 0;
    padding-bottom: 0;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 1rem 1rem 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid rgba(252, 255, 233, 0.2);
    z-index: 1;
}

.footer__info {
    text-align: left;
}

.footer__info-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.footer__info-content {
    margin-bottom: 0.5rem;
}

.footer__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer__nav-link {
    color: #ffffff;
    text-decoration: none;
    background: none;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
    text-align: left;
    width: auto;
    display: block;
    flex: 0 50%;

}

.footer__nav-link:hover {
    text-decoration: none;
    opacity: 0.65;
}

.footer__nav-link:not(:last-child) {
    margin-bottom: 0.5rem;
}

.hardware-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    padding: 1rem;
    margin-top: 120px;
    margin-bottom: 40px;
}

.hardware-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hardware-item__image {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.hardware-item__image:hover,
.hardware-item__image:focus {
    transform: scale(1.05);
}


.hardware-item__name {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    margin-top: 0.5rem;
}

@media (max-width: 768px) {
    .hardware-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

.body--product-page {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 2fr));
    gap: 20px;
    margin-top: 6rem;
    margin-bottom: 3rem;
    justify-items: center;
    align-items: stretch;
}

.product-box {
    border: 1px solid rgba(252, 255, 233, 0.2);
    border-radius: 8px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 320px;
    width: 100%;
    box-sizing: border-box;
}

.product-box__image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-box__name {
    color: #ffffff;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.product-box__description {
    color: #ffffff;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.product-box__price,
.product-box__rating {
    color: #ffffff;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 2rem;
}

.product-box__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-box__button {
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.product-box__button:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
}

.product-box__button:active {
    background-color: #333;
    border-color: #333;
    color: #fff;
}

@media (max-width: 1200px) {
    .product-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}

@media (max-width: 480px) {
    .product-list {
        grid-template-columns: 1fr;
    }
}

.addProduct-button {
    margin-top: 2rem;
    padding: 1rem;

}

.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.modal {
    background: rgb(23, 23, 23);
    color: #ffffff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 480px;
    width: 90%;
    z-index: 1001;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.modal__title {
    font-size: 1.75rem;
    font-weight: bold;
}

.modal__form-group {
    margin-bottom: 1rem;
}

.modal__form-label {
    display: block;
    margin-bottom: 0.5rem;
}

.modal__input {
    width: 100%;
    padding: 0.75rem;
    background: rgba(36, 36, 36);
    border: 1px solid rgba(252, 255, 233, 0.2);
    border-radius: 4px;
    color: #ffffff;
    font-size: 1rem;
}

.modal__input:focus {
    outline: none;
    border-color: #007bff;
}

.modal__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.modal__save-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 1rem 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal__save-btn:hover {
    background-color: #0056b3;
}

.modal__close-btn {
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal__close-btn:hover {
    background-color: #545b62;
}

@media (max-width: 768px) {
    .modal {
        width: 95%;
        max-width: 400px;
    }
}

.product-characteristics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    width: 100%;
    max-width: 90%;
    gap: 2rem;
}

.product-characteristics__photo {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    margin-right: 1rem;
    padding: 1rem;
}

.product-characteristics__photo-img {
    flex: 0 0 auto;
    max-height: 540px;
    max-width: 540px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Photo {
    margin-bottom: 2rem;
}


.product-characteristics__details {
    flex: 1;
    margin-left: 6rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.product-characteristics__name {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.product-characteristics__description {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.product-characteristics__info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.product-characteristics__price {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 1rem;
    margin-top: 7rem;
}

.product-characteristics__rating {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #fff;
}

.product-characteristics__specs {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.product-characteristics__performance {
    color: #fff;
    background-color: #242424;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
}

.product-characteristics__buy-btn {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.product-characteristics__buy-btn:hover {
    background-color: #fff;
    color: #000;
}

.product-characteristics__buy-btn:active {
    background-color: #333;
    border-color: #333;
    color: #fff;
}


@media (max-width: 768px) {
    .product-characteristics {
        flex-direction: column;
        width: 90%;
    }

    .product-characteristics__photo,
    .product-characteristics__details {
        max-width: 100%;
    }
}

.product-characteristics__slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.product-characteristics__slide {
    display: none;
}

.product-characteristics__slide--active {
    display: block;
}

.product-characteristics__control {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border: none;
}

.product-characteristics__control--prev {
    left: 0;
}

.product-characteristics__control--next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.product-characteristics__control:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.product-characteristics__number-text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.product-characteristics__dot-container {
    text-align: center;
}

.product-characteristics__dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.product-characteristics__dot--active,
.product-characteristics__dot:hover {
    background-color: #717171;
}

.upload-button {
    display: inline-block;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    margin: 0.5rem;
}

.upload-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-button:hover, .upload-button:focus {
    background-color: #fff;
    color: #000;
}


.nums {
    font-size: 4rem;
    color: white;
}

.product-list__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.pagination__button {
    background-color: transparent;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pagination__button:hover,
.pagination__button:focus {
    background-color: #fff;
    color: #000;
}

.pagination__button--active {
    background-color: #fff;
    color: #000;
}

.default-button {
    margin-top: 3rem;
    margin-left: 3rem;
    background-color: transparent;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.default-button:hover {
    background-color: #fff;
    color: #000;
}

.modal__delete {
    display: flex;
    justify-content: space-between;
}

.item__delete {
    background-color: #000;
    color: #fff;
    margin-left: 3rem;
}


.login {
    margin-top: 5rem;
}

.nav__account-dropdown {
    position: absolute;
    right: 1rem;
    top: 3.5rem;
    background-color: #000000;
    border: 1px solid rgba(252, 255, 233, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.nav__account-dropdown-link, .nav__account-dropdown-button {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
}

.nav__account-dropdown-link:hover, .nav__account-dropdown-button:hover {
    background-color: rgba(252, 255, 233, 0.1);
}


.nav__account-dropdown-link:hover {
    background-color: rgba(252, 255, 233, 0.1);
}

.nav__account-dropdown-link:last-child {
    border-bottom: none;
}


.basket-page {
    color: #ffffff;
    padding: 1rem;
    margin-top: 90px;
}

.basket-items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: start;
}

.basket-item {
    border: 1px solid rgba(252, 255, 233, 0.2);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
}


.basket-item:hover {
    transform: scale(1.02);
}

.basket-item__image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.basket-item__details {
    text-align: center;
}

.basket-item__name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.basket-item__rating,
.basket-item__price {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.basket-item__description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.basket-item__actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0.5rem;
}


.basket-page__place-order-button {
    background-color: transparent;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block;
    width: fit-content;
    margin: 0.5rem auto 0;
}

.basket-page__place-order-button:hover {
    background-color: rgb(252, 255, 233);
    color: #000000;
}

.basket-page__place-order-button:active {
    opacity: 0.4;
}

@media (max-width: 768px) {
    .basket-item {
        width: 100%;
        margin-bottom: 1rem;
    }

    .basket-item__image {
        width: 100%;
        height: auto;
    }
}

.basket-page__checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.basket-page__total-price {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.basket-empty {
    text-align: center;
}

.basket-empty__image {
    margin-top: 6rem;
    margin-bottom: 3rem;
    width: 300px;
    height: auto;
}

.basket-empty__message {
    font-size: 1.5rem;
    color: #ffffff;
}

:root {
    --background-color: #0d0d0d;
    --text-color: #f2f2f2;
    --accent-color: #ffa500;
    --accent-color-hover: #cc8400;
    --button-color: #333;
    --button-hover-color: #444;
    --border-color: rgba(252, 255, 233, 0.2);
    --order-complete: #28a745;
    --order-pending: #ffc107;
    --order-refunded: #dc3545;
    --order-processing: #17a2b8;
    --order-shipped: #007bff;
}

.order-page {
    color: #ffffff;
    padding: 1rem;
    margin-top: 4rem;
}

.order-page__image {
    text-align: center;
    margin-top: 6rem;
}

.order-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: start;
}

.order-item {
    background-color: rgb(23, 23, 23);
    border: 1px solid rgba(252, 255, 233, 0.2);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
}

.order-item:hover {
    transform: scale(1.02);
}

.order-item__details {
    text-align: center;
}

.order-item__id {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.order-item__status {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
    color: #ffc107;
}

.order-item__price {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.order-item__actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0.5rem;
}

.order-item__button {
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
}

.order-item__button:hover {
    background-color: #555;
}

.order-page__checkout-button {
    background-color: transparent;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block;
    width: fit-content;
    margin: 2rem auto 0;
}

.order-page__checkout-button:hover {
    color: #000000;
}

.profile-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.profile__image-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

.profile__creation-date {
    margin-top: 1rem;
    font-size: x-large;
    margin-left: 6rem;
}

.profile__image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid rgba(252, 255, 233, 0.5);
    object-fit: cover;
    margin-bottom: 10px;
    align-self: center;

}

.profile__info {
    margin-top: 8rem;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}

.profile__email,
.profile__creation-date {
    color: #ffffff;
    margin-bottom: 10px;
}

.profile__upload-btn {
    padding: 10px 20px;
    background-color: #fcff00;
    border: none;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .profile-page {
        flex-direction: column;
        align-items: center;
    }

    .profile__info {
        align-items: center;
        margin-left: 0;
        margin-top: 20px;
    }
}

.profile__image--savePhoto {
    align-self: center;
}


.item__delete:hover {
    background-color: white;
    color: black;
}

.item__delete:active {
    opacity: 0.5;
}

.delete-account {
    display: block;
    margin-left: 6rem;
}

.modal-header__message {
    font-size: xx-large;
    display: flex;
}


.pc-specification {
    display: flex;
    justify-content: space-between;
    margin: 0.2rem 0 0;
}

.pc-specification::before {
    color: white;
    font-size: large;
    content: attr(data-label);
    flex-basis: 30%;
    text-align: left;
}

.pc-specification span {

    margin-top: 10px;
    color: white;
    font-size: larger;
    flex-basis: 68%;
    text-align: left;
}


.product-characteristics--nameAndBuy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-characteristics--Buy {
    font-size: 1rem;
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pc-addToBasket {
    align-self: flex-start;
    margin-bottom: 0.5rem;
}

.product-characteristics__buy-btn.pc-addToBasket-btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    align-self: flex-end;
}

.pcCharacteristic__name {
    font-size: 3rem;
    color: #fff;
}

.product-characteristics__price.pc-addToBasket {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.product-characteristics--nameAndRating {
    margin-top: 5rem;
}

.pc-addToBasket--text {
    align-self: center;
    font-size: 2.5rem;
}

.pc-configurator {
    color: #fff;
    max-width: 960px;
    margin: 100px auto 50px;
    padding: 2rem;
    background-color: #202020;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
}

.pc-configurator__title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.pc-configurator__form {
    display: flex;
    flex-direction: column;
    background: #1a1a1a;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    color: #ffffff;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
    width: 100%;
    padding: 0.5rem;
    background: #333;
    border: 1px solid #777;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 1rem;
}

.form-group input[type="text"]:focus,
.form-group input[type="number"]:focus,
.form-group select:focus {
    outline: none;
    border-color: #007bff;
}

@media (max-width: 768px) {
    .pc-configurator {
        margin: 50px auto;
        width: calc(100% - 40px);
    }
}

.main-container {
    flex: 1;
    display: flex;
    margin-top: 5rem;
}

.left-section {
    width: 10%;
    height: auto;
    max-height: calc(100vh - 2rem);
    position: sticky;
    top: 3.5rem;
    padding: 20px;
    color: #fff;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(252, 255, 233, 0.2);
}

.left-section__img {
    height: 35px;
    width: 30px;
}

.left-section h2 {
    font-size: 1.2em;
    color: #d0ff00;
    margin: 0 0 10px 0;
}

.left-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left-section__item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    border-left: 3px solid transparent;
}

.left-section__icon {
    margin-right: 5px;
}

.left-section__text {
    flex: 1;
}

.left-section a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    width: 100%;
}

.right-section {
    background-color: rgb(0, 0, 0);
    width: 15%;
    height: auto;
    max-height: calc(100vh - 2rem);
    position: sticky;
    top: 3.5rem;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(252, 255, 233, 0.2);
    overflow-y: auto;
}

.right-section__title {
    font-size: 1.2em;
    color: #d0ff00;
    margin-bottom: 10px;
}

.right-section__text {
    font-size: 1em;
    margin-bottom: 20px;
}

.right-section__icon {
    margin-bottom: 20px;
}

.right-section__img {
    height: 50px;
    width: 150px;
}

.main-section {
    display: inline-block;
    width: 75%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2rem;
}


.item-details {
    margin: 20px 0;
}

.item-details__title {
    color: #d0ff00;
    font-size: 2rem;
    margin: 0;
}

.item-details__characteristics {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(252, 255, 233, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.item-details__image {
    width: 300px;
    height: 300px;
}

.item-details__details {
    flex: 1;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
}

.item-details__name,
.item-details__price {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.item-details__image--img {
    height: 300px;
    width: 300px;
}

.item-details__dropdown {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    max-width: 400px;
    margin-top: 10px;
}


.item-details__details-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    align-self: flex-start;
    margin-top: 10px;
}

.item-details__details-button:hover {
    background-color: #fff;
    color: #000;
}

.pc-configurator__submit {
    display: block;
    margin: 3rem auto;
    padding: 1rem 2rem;
    border: 2px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pc-configurator__submit:hover {
    background-color: #fff;
    color: #000;
}

.pc-configurator__submit:active {
    background-color: #333;
    border-color: #333;
    color: #fff;
}

.create-pc-modal__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.create-pc-modal {
    background: #000;
    color: #fff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 480px;
    width: 90%;
    z-index: 1001;
    border: 1px solid #555;
}

.create-pc-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.create-pc-modal__title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #d0ff00;
}

.create-pc-modal__close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.create-pc-modal__body {
    margin-bottom: 2rem;
}

.create-pc-modal__form-group {
    margin-bottom: 1rem;
}

.create-pc-modal__label {
    display: block;
    margin-bottom: 0.5rem;
    color: #d0ff00;
}

.create-pc-modal__input {
    width: 100%;
    padding: 0.75rem;
    background: #333;
    border: 1px solid #777;
    border-radius: 4px;
    color: #fff;
}

.create-pc-modal__input:focus {
    outline: none;
    border-color: #d0ff00;
}

.create-pc-modal__footer {
    display: flex;
    justify-content: flex-end;
}

.create-pc-modal__save-button {
    background-color: #d0ff00;
    color: #000;
    border: none;
    border-radius: 4px;
    padding: 1rem 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-pc-modal__save-button:hover {
    background-color: #d0ff00;
}

.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.modal {
    background: rgb(23, 23, 23);
    color: #ffffff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 480px;
    width: 90%;
    z-index: 1001;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.modal__title {
    font-size: 1.75rem;
    font-weight: bold;
}

.modal__body {
    margin-bottom: 1rem;
}

.modal__form-group {
    margin-bottom: 1rem;
}

.modal__form-label {
    display: block;
    margin-bottom: 0.5rem;
}

.modal__input {
    width: 100%;
    padding: 0.75rem;
    background: rgba(36, 36, 36);
    border: 1px solid rgba(252, 255, 233, 0.2);
    border-radius: 4px;
    color: #ffffff;
    font-size: 1rem;
}

.modal__input:focus {
    outline: none;
    border-color: #007bff;
}

.modal__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.right-section__button {
    margin-top: 3rem;
    background-color: transparent;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.right-section__button:hover {
    background-color: #fff;
    color: #000;
}

.right-section__button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.right-section__price {
    margin-top: 2rem;
    margin-bottom: 6rem;
    padding: 1rem;
    border: 1px solid rgba(252, 255, 233, 0.2);
    border-radius: 8px;
    color: #d0ff00;
/ font-size: 1.5 rem;
    font-weight: bold;
    text-align: center;
}

.order-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: #fff;
    background-color: #000;
}

.order-page__basket-empty {
    text-align: center;
    margin-top: 2rem;
}

.order-page__image {
    width: 150px;
    height: 150px;
}

.order-page__basket-empty-message {
    font-size: 1.2rem;
    color: #d0ff00;
    margin-top: 1rem;
}

.order-page__item {
    display: flex;
    border: 1px solid #444;
    border-radius: 8px;
    margin: 1rem 0;
    padding: 1rem;
    width: 90%;
    align-items: center;
}

.order-page__item-photos {
    display: flex;
    flex-wrap: wrap;
    margin-right: 2rem;
    min-width: 669px;
}

.order-page__item-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0.5rem;
    border: 1px solid #555;
    border-radius: 4px;
}

.order-page__item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 200px;
}

.order-page__item-id,
.order-page__item-total {
    font-size: 2.3rem;
    color: #d0ff00;
    margin: 0.5rem 0;
}

.order-page__item-total {
    font-size: 1.5rem;
    color: #fff;
    margin: 0.5rem 0;
}

.order-page__item-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
}

.order-page__item-button {
    background-color: #000;
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    margin: 0.5rem 1rem 0.5rem 0;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 120px;
    text-align: center;
}

.order-page__item-button:hover {
    background-color: #fff;
    color: #000;
}


.order-info-modal__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    z-index: 1001;
}

.order-info-modal {
    background: #000;
    color: #fff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 70%;
    overflow-y: auto;
    z-index: 1001;
    border: 1px solid #555;
}

.order-info-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #555;
}

.order-info-modal__title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #d0ff00;
}

.order-info-modal__close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.order-info-modal__body {
    padding: 20px;
    background-color: #000;
}

.order-info-modal__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #555;
}

.order-info-modal__item-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.order-info-modal__item-details {
    flex: 1;
    margin-left: 20px;
}

.order-info-modal__item-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    color: #d0ff00;
}

.order-info-modal__item-description {
    font-size: 1rem;
    color: #fff;
    margin: 5px 0;
}

.order-info-modal__item-price {
    font-size: 1rem;
    color: #fff;
    margin: 5px 0;
}

.order-info-modal__item-button {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.order-info-modal__item-button:hover {
    background-color: #fff;
    color: #000;
}

.order-info-modal__total {
    margin-top: 20px;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    color: #d0ff00;
}

.order-info-modal__button {
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.order-info-modal__button--close {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    align-self: flex-end;
    margin-top: 1rem;
}

.order-info-modal__button--close:hover {
    background-color: #fff;
    color: #000;
}

.order-info-modal__button--save {
    background-color: #d0ff00;
    color: #000;
}

.order-info-modal__button:hover {
    background-color: #1a1a1a;
    color: #fff;
}

.order-info-modal__button--save:hover {
    background-color: #d0ff00;
}

.login-page {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgb(0, 0, 0);
}

.login-container {
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
    border: 1px solid rgba(252, 255, 233, 0.2);
    text-align: center;
}

.login-title {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.form-label {
    color: #d0ff00;
    margin-bottom: 0.5rem;
}

.form-input {
    width: 100%;
    padding: 0.75rem;
    background: rgba(0, 0, 0);
    border: 1px solid rgba(252, 255, 233, 0.2);
    border-radius: 4px;
    color: #d0ff00;
    font-size: 1rem;
}

.login-button {
    background-color: #d0ff00;
    color: #000;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 1rem;
}

.login-button:active {
    opacity: 0.5;
}

.login-button:hover {
    opacity: 0.8;
}

.login-text-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.login-text-link {
    background: none;
    border: none;
    color: #d0ff00;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.5rem 0;
}

.login-text-link:active {
    opacity: 0.5;
}

.login-text-link:hover {
    opacity: 0.7;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
    color: #fff;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(252, 255, 233, 0.2);
}

.divider:not(:empty)::before {
    margin-right: 0.25em;
}

.divider:not(:empty)::after {
    margin-left: 0.25em;
}

.login-links {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.login-link {
    color: #fff;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

.login-link:active {
    opacity: 0.5;
}

.login-link:hover {
    opacity: 0.8;
}

.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-toggle-button {
    position: absolute;
    right: 0.75rem;
    background: none;
    border: none;
    color: #d0ff00;
    cursor: pointer;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-toggle-button::before {
    content: '\1F441';
    font-size: 1.25rem;
}

.password-toggle-button:hover {
    opacity: 0.8;
}

.create-pc-modal__input {
    width: calc(100% - 2.5rem);
    padding: 0.75rem;
    background: #333;
    border: 1px solid #777;
    border-radius: 4px;
    color: #fff;
}

.create-pc-modal__input:focus {
    outline: none;
    border-color: #d0ff00;
}

.toast-container {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}